<!DOCTYPE html>
<html>
  <head>
    <title>Yuup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script type="text/javascript" >
        window.currentUser = {
          "id": "<%= current_user.id %>",
          "email": "<%= current_user.email %>",
          "firstName": "<%= current_user.firstName %>",
          "location": "<%= current_user.location %>"
        }
      </script>
    <% end %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <%= favicon_link_tag asset_path('favicon-logo.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
